#container{
    height:400px;
    width:400px;
    border-radius :10px;
    background-color: azure;
    border:2px solid burlywood;
    display:flex;
    flex-direction:ROW;
    flex-wrap:wrap;
    justify-content: center;
    align-content:space-evenly;
    
}
.box{
    height:100px;
    width:100px;
    border:2px solid green;
    margin:10px auto;
    text-align:center;
    font-size:3em;
    background-color: grey;
    border-radius:10px;
    font-size:50px;
}
