.face{
    height:400px;
    width: 400px;
    background-color: yellow;
    border-radius: 50%;

}
.mouth{
    width:200px;
    height:75px;
    background-color: brown;
    border-radius: 0 0 50% 50%;
    position: absolute;
    top: 250px;
    left: 100px;

}
.left-eye,.right-eye{
    width:100px;
    height:100px;
    background-color: black;
    border-radius:50%;
    display:inline-block;
    position:absolute;
    top:100px;
    left: 80px;

}
.right-eye{
    
    left: 250px;
}