h1,p{
    font-family: League Spartan;
    Color:#ffa511;
    text-align:center;
    font-size:55;
    font-weight:bold;
    letter-spacing: 2 px;
    line-height: 2x;
    text-decoration: teal double underline;
    text-transform: uppercase;


}